
body
{
    display: none;
    width: 1000vw;
}

main{
    // width: 100%;
    // height: 100%;
    // overflow: hidden;
    //background-image: url("../assets/wolf_main_back.jpg");
    background-color: #fff123;
    padding-right: 20px;
}
