<!-- <form class="form-signin">
    <div class="text-left mb-4">      
      <h1 class="h3 mb-3 font-weight-normal"><i class="fa fa-users mr-5" style="font-size:3rem;"></i>Register Yourself! </h1>
 </div>

    <div class="form-label-group">
        <input type="text" id="inputName" class="form-control" placeholder="Name" required="" autofocus="">
        <label for="inputEmail">Name</label>
      </div>

      <div class="form-label-group">
        <input type="text" id="inputSurname" class="form-control" placeholder="Surname" required="" autofocus="">
        <label for="inputEmail">Surname</label>
      </div>

    <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <label for="inputPassword">Password</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <label for="inputPassword">Repeat password</label>
      </div>

    <button class="btn btn-lg btn-info btn-block" type="submit">Register</button>
  </form> -->

  <nav class="navbar navbar-expand-lg d-flex justify-content-center">
    <button class="btn btn-info btn-sm arrows arr_l" [routerLink]="['']">
      <i class="fa fa-arrow-left"></i>
    </button>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 btn-sm search_input" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-sm btn-success" type="submit">Search <i class="fa fa-search"></i></button>
      </form>
      <button class="btn btn-info btn-sm arrows arr_r" [routerLink]="['']">
        <i class="fa fa-arrow-right"></i>
      </button>
  </nav>