
  <main>
    <div class="container pt-3 ">
      <div class="row pt-4">
        <div class="col-md-3 col-xs-12 text-left sort_side  px-2">
          
          <div class="card card_sort" style="width: 18rem;">
            <div class="card-body text-center">
              <h5 class="card-title"> <i class="fa fa-filter text-left pr-3"></i><strong>Sort stuff</strong></h5>
              <p class="card-text">What are you looking for? SMG, Handgun?</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">
                <!-- Price range:  -->
                <label for="range">Price</label> 
                <div class="row">
                  <div class="col-5">
                    <input type="number" class="form-control" min="0" max="999" value="0" [(ngModel)]="this.models.floor"> 
                  </div>
                  <div class="col-2">
                    <i class="fa fa-arrow-right mt-2"></i>
                  </div>

                  <div class="col-5">
                    <input type="number" class="form-control" min="0" max="999" value="999" [(ngModel)]="this.models.ceil">
                  </div>
                </div>
              </li>
              <li class="list-group-item text-center">Category
                <div class="select_cont">   
                    <select data-container="body" style="max-height: 10rem;" [(ngModel)]="this.models.category">
                      <option value="">Any type</option>
                      <option value="Handgun">Handgun</option>
                      <option value="Submachine Gun">Submachine Gun</option>
                      <option value="Shotgun">Shotgun</option>
                      <option value="Assault Rifle">Assault Rifle</option>
                      <option value="Sniper Rifle">Sniper Rifle</option>
                      <option value="Machine Gun">Machine Gun</option>
                      <option value="Grenade Launcher">Grenade Launcher</option>
                      <option value="Rocket">Rocket</option>
                      <option value="Explosives">Explosives</option>
                      <option value="Mounted Weapon">Mounted Weapon</option>
                    </select>
                </div>
              </li>


            </ul>
          </div>
          
        </div>
        <div class="col-md-9 col-xs-12 text-center">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Just type something, and let it work!</label>
              <div class="d-flex pl-4 search">
                <input type="text" name="search_Phrase" [(ngModel)]="this.models.searchInput" class="w-50 form-control mr-2 ml-4" aria-describedby="search" placeholder="Maybe some weapon? ;)">
                <button class="btn btn-secondary" (click)="retrieveItems()">Search!</button>
              </div>
            </div>
            </form>

            <div class="container pt-2">

              <div class="row d-flex justify-content-end mb-4 pagination_container">
                <div class="card-footer pb-1 pt-3">
                  <pagination [boundaryLinks]="true" [totalItems]="this.pagination.totalItems" [rotate]="rotate" 
                  [maxSize]="maxSize" firstText="&laquo;" lastText="&raquo;"
                  (pageChanged)="pageChanged($event)" [itemsPerPage]="this.pagination.itemsPerPage"
                  *ngIf="this.pagination.totalItems !== 0"
                  responsive="true"
                  ></pagination>

                  <span class="mt-3">{{this.pagination.currentPage * this.pagination.itemsPerPage > this.pagination.totalItems ? 
                    this.pagination.totalItems : this.pagination.currentPage * this.pagination.itemsPerPage}} / {{this.pagination.totalItems}} guns loaded</span>
                </div>
              </div>

              <div class="row renderGuns">

                <app-search-item 
                *ngFor="let gun of this.guns; let i = index" 
                [gun]="gun" [receivedRate]="currRate"
                
                ></app-search-item>
              </div>

              <div class="alert alert-secondary" role="alert" *ngIf="this.guns.length === 0">
                <span>Cant find that one <span>&#x231B;</span> </span>
              </div>
            </div>

      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>


