main 
{
    //height: 170vh;
    background-image: linear-gradient(50deg, #70e1f5 0%, #ffd194 100%);
    background-repeat: no-repeat;
    //background-size: 28.80rem 18.80rem;
    background-size: cover;
    margin: auto auto;
    height: 80rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.container
{
    padding-top: 2rem;
    border-radius: .6rem;
    background-color: #ffffff;
    box-shadow: 6px 6px 54px 0px rgba(0,0,0,0.75);
    max-width: 70rem;
    height: 70rem;
    overflow-y: scroll;
}

.img_main
{
    margin: auto auto;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 900px;
    height: 350px;
}

.smart_list
{
    //display: none;
    padding: 1rem;
    a.carousel-control-prev
    {
        filter: invert(100%);
        transform: translateX(-5.3rem);
        transition: all .2s;
        &:hover
        {
            transform: translateX(-5.5rem);
        }
    }

    a.carousel-control-next
    {
        filter: invert(100%);
        transform: translateX(5.3rem);
        transition: all .2s;
        &:hover
        {
            transform: translateX(5.5rem);
        }
    }

    //spacing between elements
    .carousel-inner
    {
        width: 36rem;
    }

    img{
        width: 10rem;
        //display: none;
        margin: 1rem;
        background-color: inherit;
        border: inherit;
        transition: all .4s;
        &:hover
        {
            cursor: pointer;
            opacity: .7;
        }

    }
}

.fa-truck
{
    filter: invert(30%);
}

.amount
{
    width: 5rem;
    margin-bottom: .7rem;
}

.price_gen
{
    font-size: 1.4rem;
}

.tab-pane.description
{
    span{
        font-size: 3rem;
        margin-top: 2rem;
    }

    p{
        font-size: 1rem;
    }
}

.tab-pane.comments
{
    //height: 40rem;
    //margin-top: 20%;
    span
    {
        padding-top: 1rem;
        font-size: 1.5rem;
        color: red;
    }
    textarea
    {
        resize: none;
    }
}

.nothing_alert
{
    margin-top: 2rem;
    width: 40rem;
    text-align: center;
}



// .carousel-control-next,
// .carousel-control-prev /*, .carousel-indicators */ {
//     filter: invert(100%);
// }