<main>
  
  <div class="container mt-3 py-4">
    <div class="row">

      <div class="col-12">
        <h1 class="text-center bg-primary py-4 w-75 mx-auto"> <i class="fa fa-shopping-cart"></i> BASKET</h1>
      </div>
      
      <!-- <div class="col-12">
        <div class="card border-info">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-12 mt-1">
        <div class="card border-info">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-12 mt-1">
        <div class="card border-info">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> -->

      <ul class="col-12 list-group mx-auto px-4">
        <li class="list-group-item">
          <div class="card border-info">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>



        </li>
        <li class="list-group-item">
          <div class="card border-info">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>



        </li>
        <li class="list-group-item">
          <div class="card border-info">
            <div class="card-body">
              <img class="card-img" src="../../assets/wolf-icon.png" alt="Card image">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

        </li>
      </ul>



    </div>
  </div>



</main>