@mixin low_side_padd
{
    padding-left: .4rem;
    padding-right: .4rem;
}

.container
{
    max-width: 3000px;
    height: calc(100%-3rem);
    background: #3A1C71;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: calc(100vh - 4rem);
    padding-top: 3rem;
    padding-bottom: 2rem;
}

main 
{
    background-image: linear-gradient(50deg, #70e1f5 0%, #ffd194 100%);
    background-repeat: no-repeat;
    //background-size: 28.80rem 18.80rem;
    background-size: cover;
    margin: auto auto;
}

h1
{
    background-color: rgba(50, 219, 163, 0.8);
    border-radius: 1.3rem;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.2);
    letter-spacing: .3rem;
    //box-shadow: inset 0px 0px 40px 40px #DBA632;
}

.card{
    background-color: rgba(0,0,0,.2);
    border-radius: .7rem;
    min-height: 30rem;
}

ul.order_list{

    width: 100%;
    min-height: 13rem;
    li{

        opacity: .92;
        transition: all .4s;
    
        &:hover{
            opacity:1;
            cursor: pointer;
        }
    }
}


span.badge
{
    transition: all .5s;
    &:hover
    {
        cursor: pointer;
    }

    &:focus
    {
        outline: none;
        box-shadow: none;
        transform: scale(1.1);
    }
}

.nothing_pulse
{
    animation: nothing_pulse 4s infinite linear;
}

pagination
{
    padding-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

@keyframes nothing_pulse
{
    0%{color: rgba(0,0,0,1);}
    25%{color: rgba(0,0,0,.875); letter-spacing: .05rem;}
    50%{color: rgba(0,0,0,.75); letter-spacing: .1rem;}
    75%{color: rgba(0,0,0,.875); letter-spacing: .05rem;}
    100%{color: rgba(0,0,0,1);}
}

@media only screen and (max-width: 1000px)
{
    .order_record
    {
        flex-direction: column;

        span:not(:last-child){
            display: flex !important;
            justify-content: space-between !important;
            //align-items: flex-end;
            width: 100% !important;
        }

        span:last-child
        {
            width: 25%;
        }

    }
}


@media only screen and (max-width: 600px)
{

    .card-body{

        @include low_side_padd;
        .col-md-12
        {
            @include low_side_padd;

            .list-group
            {

                width: 100%;

                .order_record
                {
                    width: 100%;
                    padding: .7rem;
                    font-size: .93rem;
                }
            }
        }
    }

    h1
    {
        width: 100% !important;
    }

    .nothing_pulse
    {
        animation: none;
        i{
            display: none;
        }
    }

}

@media only screen and(max-width: 500px)
{
    .pagination_container
    {
        margin: 0 !important;
        position: fixed !important;
        font-size: .9rem;
        bottom: 0 !important;
        left: 0 !important;
        // display: flex !important;
        // flex-direction: column !important;
        // align-items: center !important;  
        width: 100vw !important;
        z-index: 5;
        background-color: rgba(50, 219, 163, .8)
    }
    
    ul.order_list, .card, .card-body
    {
        min-height: 1rem !important;
    }

}

@media only screen and(max-width:390px)
{
    .nothing_pulse
    {
        font-size: 1.3rem;
    }

}