<div class="container pt-2">
  <div class="row pt-2">
    <div class="col-md-12 pt-2 d-flex justify-content-center">
      <!-- <ul class="list-group">
        <li class="list-group-item active">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul> -->

      <table class="table table-striped w-75">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Id</th>
            <th scope="col">Total</th>
            <th scope="col">Date Start</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orderList; let i = index;">
            <th scope="row"><button class="btn btn-primary btn-sm" [routerLink]="order.id">Details</button></th>
            <td>{{order.id}}</td>
            <td>{{order.total}}</td>
            <td>{{order.startDate}}</td>
          </tr>
          <!-- <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr> -->
          
        </tbody>
      </table>

    </div>
  </div>
</div>