<div class="container">
  <div class="row pt-2">


    <div class="card mx-auto w-75">
      <div class="card-body">
        <div class="col-12 mt-3">
          <h1 class="text-center py-3 w-75 mx-auto"> ORDERS </h1>
        </div>
  
        <div class="col-md-12 pt-2 d-flex justify-content-center">
          <ul class="list-group mt-4 order_list">
  
            <li class="list-group-item d-flex justify-content-between align-items-center order_record" *ngFor="let order of orderList; let i = index;">
              <span> <strong>Id:</strong>  {{order.id}} </span> 
              <span> <strong>Total:</strong> {{order.total}}</span> 
              <span> <strong>Start date:</strong> {{order.startDate}}</span> 
              <span class="badge badge-primary badge-pill" [routerLink]="order.id">Details</span>
            </li>
          </ul>     
        </div>

        <div class="col-md-12 d-flex flex-row justify-content-center" *ngIf="this.orderList.length === 0">
          <h2 class="nothing_pulse"> <i class="fa fa-arrow-right"></i> Nothing to show right now <i class="fa fa-arrow-left"></i> </h2>
        </div>

        <div class="row d-flex justify-content-end pagination_container">
      
            <pagination [boundaryLinks]="true" [totalItems]="this.pagination.totalItems" [rotate]="true" 
            [maxSize]="5" firstText="&laquo;" lastText="&raquo;"
            (pageChanged)="pageChanged($event)" [itemsPerPage]="this.pagination.itemsPerPage"
            *ngIf="this.pagination.totalItems !== 0"
            responsive="true"
            ></pagination>
          </div>
       

      </div>
    </div>

  </div>
</div>