
<div class="cont ">
  <div class="row d-flex justify-content-center">
    <div class="card text-white bg-info mb-3">
      <div class="card-header">
        <div class="row">
        <div class="col-md-4">
          <img class="rounded img-left userImage" src="../../assets/image_placeholder.png" alt="Image">
          <i class="fa fa-cog btn btn-sm btn-primary"> Edit</i>
        </div>
        
            <div class="col-md-8 d-flex flex-column align-self-center">

              <div class="form-label-group">
                <input type="text" id="inputEmail" class="form-control" placeholder="Your email" formControlName="email" disabled>  
                <label for="inputEmail">Name</label>
              </div>
              <div class="form-label-group">
                <input type="text" id="inputEmail" class="form-control" placeholder="Your " formControlName="email" disabled> 
                <label for="inputEmail">Surname</label>
              </div>
            </div>
          </div>


      </div>
      <div class="card-body">
        <h5 class="card-title">Address</h5>
        <p class="card-text">Required if you want order something</p>
        <div class="row">
          <div class="col-4">
            <div class="form-label-group">
              <input type="text" id="inputEmail" class="form-control" placeholder="Your " formControlName="email" disabled> 
              <label for="inputEmail">Street</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-label-group">
              <input type="text" id="inputEmail" class="form-control" placeholder="Your " formControlName="email" disabled> 
              <label for="inputEmail">City</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-label-group">
              <input type="text" id="inputEmail" class="form-control" placeholder="Your " formControlName="email" disabled> 
              <label for="inputEmail">Country</label>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>
