<main>
  <div class="container p-4">
    <div class="row pt-4">
      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/order-list']">My Orders</a></li>
            <li class="breadcrumb-item active" aria-current="page">Order</li>
          </ol>
        </nav>

      </div>


      <div class="col-md-4 col-xs-12">

        <!--Do it more like basket page? Or different?-->
        <div class="card text-white mb-3 orderspecs">
          <div class="card-header">Basic Details</div>
          <div class="card-body d-flex flex-column">
            <p class="d-flex flex-row justify-content-between">Order id <strong>{{order._id}}</strong></p>
            <p class="d-flex flex-row justify-content-between">Start Date <strong>{{order.startDate}}</strong></p>
            <p class="d-flex flex-row justify-content-between">End Date <strong>{{order.endDate}}</strong></p>
            <p class="d-flex flex-row justify-content-between m-0">Currency Code <strong>{{order.currencyCode}}</strong></p>
          </div>
        </div>

      </div>

      <div class="col-md-8 col-xs-12 px-auto">


        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-center align-items-center">
            <h1 class="pt-3">Order items</h1>
          </li>
          <li class="list-group-item d-flex justify-content-center align-items-center" *ngFor="let item of this.order.orderItem; let i = index;">

            <div class="row w-100 align-items-center justify-content-center">
              <div class="col-md-5 col-xs-12 image_item_wrapper">
                <img class="item_image" src="../../assets/wolf-icon.png" alt="Card image">
              </div>
              <div class="col-md-7 col-xs-12 d-flex flex-column justify-content-center item_details">
                <strong class="d-flex flex-row justify-content-between"> <span>Item name</span><em>{{item.name}}</em></strong>
                <strong class="d-flex flex-row justify-content-between"> <span>Price per each</span> <em>{{item.price}}</em></strong>
                <strong class="d-flex flex-row justify-content-between"> <span>Quantity</span> <em>{{item.quantity}}</em></strong>
                <strong class="d-flex flex-row justify-content-between"> <span>Total</span><em>{{item.total | shortprice}}</em></strong>
              </div>

            </div>


            

          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Total
            <em>{{this.order.total | shortprice}}</em> 
          </li>
        </ul>

      </div>
    </div>
  </div>
</main>