@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

main {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: relative;
}

router-outlet~*
{
    position: absolute;
    width: 100%;
    height: 100%;
}

app-footer
{
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
